*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#center{
	position:fixed;
	top:30px;
	left:30px;
}

img[alt="hintergrund"]{
	position : relativ;
	z-index: 10;
}

img[alt="eis"]{
	position: absolute;
	top: 530px;
	left:150px;
	z-index: 50;
}

img[alt="becher"]{
	position : absolute;
	top: 30px;
	left:50px;
	z-index: 100;
}

